.todo-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.todo-box__item {
	padding-left: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 80%;
}

@media (max-width: 320px) {
	.todo-box__item {
		max-width: 40%;
	}
}
